<%= form_for account do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :critical_amount %><br>
      <%= f.text_field :critical_amount %>
    </p>

    <p>
      <%= f.label :send_notifications %><br>
      <%= f.check_box :send_notifications %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
<%= link_to 'Back', accounts_path %>